* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.logo {
    display: flex;    
    justify-content: center;
    height: 100vh;
}

.logo img {
    width: 35%;
}






/*          Media Queries             */

/*------------------------------------*/